<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular InputEx</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/rainbow-theme-solarized-dark.css">
  </head>
  <body ng-app="demoApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header">
      <div class="container">
        <h1 class="text-muted">Angular InputEx</h1>
      </div>
    </div>

    <div class="container">

      <div class="test-form" ng-controller="FormTestController">
        <script>
          function FormTestController ($scope) {
            $scope.fields = [
               { type: "string",      label: "Test string",      name: "string",      maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              ,{ type: "uppercase",   label: "Test uppercase",   name: "uppercase",   maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              // ,{ type: "text",        label: "Test text",        name: "text",        maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              // ,{ type: "select",      label: "Test select",      name: "select",      maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              // ,{ type: "linkedcombo", label: "Test linkedcombo", name: "linkedcombo", maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              // ,{ type: "boolean",     label: "Test boolean",     name: "boolean",     maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              // ,{ type: "radio",       label: "Test radio",       name: "radio",       maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              // ,{ type: "integer",     label: "Test integer",     name: "integer",     maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
              // ,{ type: "datesplit",   label: "Test datesplit",   name: "datesplit",   maxLength: "10", minLength: "3", size: 40, required: true, trim: true }
            ];

            $scope.values = {
              'string':      'Default string value',
              'uppercase':   'Default uppercase value',
              'text':        'Default text value',
              'select':      'Default select value',
              'linkedcombo': 'Default linkedcombo value',
              'boolean':     'Default boolean value',
              'radio':       'Default radio value',
              'integer':     'Default integer value',
              'datesplit':   'Default datesplit value'
            }
          }
        </script>

        <h2>Test Form</h2>

        <form name="testForm2" ix-form="fields" ix-form-model="values"></form>
        <!-- <input type="text" ng-model="values.uppercase" ng-maxlength="10" ix-uppercase/> -->
        <!-- <input type="text" ng-model="values.uppercase" ng-maxlength="10" /> -->

        <p>Values: <pre>{{ values | json }}</pre></p>

      </div>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/angular-inputex/dist/angular-inputex.js"></script>
    <script src="bower_components/angular-inputex/dist/angular-inputex-templates.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/ixCodeExample.js"></script>
        <!-- endbuild -->
        <script src="scripts/vendors/rainbow.min.js"></script>

</body>
</html>
