$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

code {
    // Fix bootstrap overriding the close css class
    .close {
        opacity: inherit;
        font-size: inherit;
        text-shadow: inherit;
        float: none;
        color: #859900;
        font-weight: normal;
    }
}

input[type=text].ng-invalid {
  border-color: #FF7C7C;
}
